<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="ComprePriceTest">
    <classes>
      <class name="com.zestmoney.compare.ComparePriceTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="FacebookPostTest">
    <classes>
      <class name="com.zestmoney.facebook.FacebookTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
